{% extends 'base.html' %}

{% block title %}
  Edit risk page
{% endblock %}

{% block content %}
  </br>
  <h1>EDIT RISK PAGE</h1>
  </br>

  <div class="form-group">
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-secondary">Update</button>
  </div>
  <script>
    var name = "{{user.id}}";
    document.getElementById("who_updates").value = name;

    if("{{perms.homepage.add_post}}" === "False"){
      document.getElementById("mp").disabled = true;
    }
  </script>
{% endblock %}
