<html>

<body>
  {% extends 'base.html' %}
  {% block content %}

  {% if user.is_authenticated %}

    </br>
    <h1>Risk Scenario Database</h1></br>
    <!--<a href="{% url 'addRisk' %}" class="btn btn-secondary"> Create new Risk</a>-->
    </br>

    <table class="table table-bordered table-hover">
      <tr>
        <th>Risk Scenario Name</th>
        <th>Risk Scenario Description</th>
        <th>Mitigation Strategy</th>
        <th>Mitigation Progress</th>
        <th>Last updated</th>
        <th>Created By</th>
        <th></th>
      </tr>

      {% for record in object_list reversed %}
        <tr>
          <td>{{record.name}}</td>
          <td>{{record.description}}</td>
          <td>{{record.mitigation_strategy}}</td>
          <td>{{record.mitigation_progress}}</td>
          <td>{{record.last_updated_by}}</td>
          <td>{{record.created_by}}</td>
          <td>
            {% if record.created_by.username == user.username or user.groups.all.0.name == 'Risk Consultant' %}
            <center><a href="{% url 'editRisk' record.pk %}" class="btn btn-secondary">Edit</a><center></br>
            {% endif %}
            {% if user.groups.all.0.name == 'Project Manager' and record.created_by.username == user.username %}
            <a href="{% url 'deleteRisk' record.pk %}" class="btn btn-secondary">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>


  {% else %}
    </br>
    <div class="jumbotron">
      <h1 class="display-4">Welcome!</h1>
      <p class="lead">This is a simple risk management database.</p>
      <hr class="my-4">
      <p>
        Please
        <a href="{% url 'login' %}">Login</a>
        or
        <a href="{% url 'register' %}">Create an account</a>
        to access the database.
      </p>
    </div>
  {% endif %}
  {% endblock %}


</body>
</html>
