<html>

<body>
  {% extends 'base.html' %}
  {% block content %}

  </br>
  {% if user.is_authenticated %}
  {% if searched %}
    <h1> you searched for {{searched}}</h1></br>
    <table class="table table-bordered table-hover">
      <tr>
        <th>Risk Scenario Name</th>
        <th>Risk Scenario Description</th>
        <th>Mitigation Strategy</th>
        <th>Mitigation Progress</th>
        <th>Last updated</th>
        <th></th>
      </tr>

      {% for ans in answer %}
        <tr>
          <td>{{ans.name}}</td>
          <td>{{ans.description}}</td>
          <td>{{ans.mitigation_strategy}}</td>
          <td>{{ans.mitigation_progress}}</td>
          <td>{{ans.last_updated_by}}</td>
          <td>
            <center><a href="{% url 'editRisk' ans.pk %}" class="btn btn-secondary">Edit</a><center></br>
            {% if perms.homepage.delete_post %}
            <a href="{% url 'deleteRisk' ans.pk %}" class="btn btn-secondary">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <h1>Risk Scenario Database</h1></br>
    </br>
    <table class="table table-bordered table-hover">
      <tr>
        <th>Risk Scenario Name</th>
        <th>Risk Scenario Description</th>
        <th>Mitigation Strategy</th>
        <th>Mitigation Progress</th>
        <th>Last updated</th>
        <th></th>
      </tr>

      {% for ans in answer reversed %}
        <tr>
          <td>{{ans.name}}</td>
          <td>{{ans.description}}</td>
          <td>{{ans.mitigation_strategy}}</td>
          <td>{{ans.mitigation_progress}}</td>
          <td>{{ans.last_updated_by}}</td>
          <td>
            <center><a href="{% url 'editRisk' ans.pk %}" class="btn btn-secondary">Edit</a><center></br>
            {% if perms.homepage.delete_post %}
            <a href="{% url 'deleteRisk' ans.pk %}" class="btn btn-secondary">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  {% endif %}
  {% endblock %}

</body>
</html>
